.card{
    max-width: 25%;
    min-width: 200px;
    margin: 20px;
    float: left;
}


#info {
    background-image: url('rand.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}