.card{
    max-width: 25%;
    min-width: 200px;
    margin: 20px;
    float: left;
}


#info {
    background-image: url('rand.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.full-block{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 80%;
    height: 80%;
}